form{
  position: relative;
  background-color: #eceff4;
  border-radius: 7px;
  margin-left: 36%;
  margin-top: 7%;
  width: 350px;
  height: 380px;
}

#input-group-login{
  position: relative;
  width: 80%;
  height:46px;
  border: 7px solid #eceff4;
  border-radius: 7px;
  margin-top: 10%;
  margin-bottom: 2%;
  font-family: arial;
  margin-left: 2vw;
  -webkit-transition: 0.7s;
  transition: 0.5s;
  outline: none;
}

#input-group-login[type=text]:focus,
#input-group-login[type=password]:focus {
  border: 7px solid rgb(234, 43, 167);
}


#submit{
  position: absolute;
  border: 7px solid rgb(234, 43, 167);
  border-radius: 7px; 
  background-color: rgb(234, 43, 167);
  margin-left: 32%;
  margin-top: 6%;
  display: inline-block;
  width: 40%;
  height:8%;
  color: white;
}

a{
  color:rgb(144, 130, 130);
  font-size: 1vw;
  font-family:arial;
  position: absolute;
  margin-left: 26%;
  margin-top: 21%;
}